.mainPlayer{
    position: fixed;
    width: 100%;
    background: lightslategray;
    bottom: 0;
    left: 0;
}

.playListSection{
  width: 100%;
  align-items: center;
}

.buttonFont{
  font-size: 30px;
  align-items: center;
}

.allButtonFont{
  font-size: 20px;
  align-items: center;
}

.playList{
  padding: 20px;
  margin-right: 3px;
}

.headerIcon {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: 1px solid gray;
  align-items: center;
}

.sampleImage{
  align-items: center;
  height: 80px;
  width: 80px;
  background-image: url("https://shorturl.at/ui2hy");
}

.positionRelative{
  position: relative;
}

.positionAbsolute{
  position: absolute;
}