.displayImage {
  width: 100%;
  background-image: url("https://placehold.co/720");
  min-height: 100vh;
  max-height: 52vh;
}

.headerIcon {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: 1px solid gray;
}